# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Descktop services store
.DS_Store
**/.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store (for Mac users)

# Ignores telemetry data which are too big
csv_input/export_100X.csv

# Ignores local output directory
output/

# Ignores slurms outputs
# slurm-*.out

# Other ignores
PROMPT*.md

# Leonardo's Mac specific ignores
.devcontainer/docker-compose.override.yml
